@inject IBlazorFileUploadService BlazorFileUploadService

<h3 style="text-align:center">Shared component</h3>
<section style="width: 33%; margin: auto">
    <form enctype="multipart/form-data">
        <!-- File input section -->
        <div class="form-group">
            <label for="fileName">Select a file to upload:</label>
            <InputFile OnChange="HandleFileSelected" />
            <p>
                <span>Selected File: @_fileName</span>
            </p>
        </div>

        <!-- Custom File Name -->
        <div class="form-group">
            <label for="CustomFileName">Rename the file (optional):</label>
            <input type="text" class="form-control" name="CustomFileName" @bind="_customFileName" />
        </div>

        <!-- Folder Target -->
        <div class="form-group">
            <label for="FilePathTarget">Folder Target (optional):</label>
            <input type="text" class="form-control" name="FilePathTarget" @bind="_filePathTarget" />
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-primary mt-3" @onclick="UploadFileAsync">Upload File</button>
        @if (isUploadSuccess.HasValue)
        {
            // Displays an alert box when the upload status (isUploadSuccess) has a value (either true or false).
            <div class="alert @GetAlertClass() mt-3">
                @if (isUploadSuccess.Value)
                {
                    // If the upload was successful, display the success message.
                    <p>@Message</p>
                }
                else
                {
                    // If the upload failed, display the error message.
                    <p>@ErrorMessage</p>
                }
            </div>
        }
    </form>
</section>

@code {

    // Stores the selected file from the input.
    private IBrowserFile? _browserFile;

    // Stores the name of the selected file.
    private string _fileName = string.Empty;

    // Custom name for the file.
    private string _customFileName = UploadFileSettings.CustomFileName;

    // Target folder path for the upload.
    private string _filePathTarget = UploadFileSettings.FilePathTarget;

    // Messages if file has been uploaded successfully.
    private string? Message { get; set; }

    // Messages if an error has occurred.
    private string? ErrorMessage { get; set; }

    // Nullable bool to indicate success or failure
    private bool? isUploadSuccess;

    /// <summary>
    /// Handles the event when a file is selected for upload.
    /// </summary>
    /// <param name="e">The event arguments containing information about the selected file.</param>
    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        // Assigns the selected file to the private field.
        _browserFile = e.File;

        // Updates the file name field with the selected file's name.
        _fileName = _browserFile.Name;

        // Reset the message when a new file is selected.
        isUploadSuccess = null;
    }

    /// <summary>
    /// Asynchronously uploads the selected file to the server by <see cref="BlazorWebApp.Services.BlazorFileUploadService"/> class.
    /// </summary>
    private async Task UploadFileAsync()
    {
        // Checks if a file has been selected; if not, log an error message.
        if (_browserFile == null)
        {
            isUploadSuccess = false;
            ErrorMessage = "No file selected.";
            Console.WriteLine("No file selected.");
            return ;
        }

        // Tries to upload the file using the BlazorFileUploadService.
        try
        {
            // It passes the selected browser file, the custom file name, and the target file path.
            isUploadSuccess = await BlazorFileUploadService.UploadFileAsync(_browserFile, _customFileName, _filePathTarget);

            if (isUploadSuccess.Value)
            {
                isUploadSuccess = true;
                Message = "File uploaded successfully!";
                Console.WriteLine("File uploaded successfully.");
            }
            else
            {
                ErrorMessage = "File upload failed.";
                Console.WriteLine("File upload failed.");
            }
        }
        catch (HttpRequestException ex)
        {
            // Indicate failure.
            isUploadSuccess = false;
            ErrorMessage = $"An error occurred: {ex.Message}";

            // If an HttpRequestException is thrown, logs the error message from the exception.
            // This could indicate a failure in the HTTP request or an issue on the server.
            Console.WriteLine(ex.Message);
        }
    }

    private string GetAlertClass()
    {
        return isUploadSuccess.HasValue && isUploadSuccess.Value ? "alert-success" : "alert-danger";
    }
}